<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.jessies.mathdroid" android:versionCode="27" android:versionName="2.7">
    <!-- API 3 == 1.5 cupcake, API 16 == 4.1 jelly bean http://developer.android.com/guide/appendix/api-levels.html -->
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="16" />
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name=".Mathdroid" android:label="@string/app_name" android:configChanges="keyboard|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MathdroidHelp" android:label="@string/app_name"> </activity>
        <activity android:name=".MathdroidSettings" android:label="@string/app_name"> </activity>
        <activity android:name=".MathdroidTests" android:label="@string/app_name"> </activity>
    </application>
</manifest>
