<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.jessies.dalvikexplorer" android:versionCode="30" android:versionName="3.0">
    <!-- API 4 == 1.6 donut, API 16 == 4.1 jelly bean http://developer.android.com/guide/appendix/api-levels.html -->
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="16" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" /> <!-- for GoogleTV -->
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name="DalvikExplorerActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".BuildActivity" />
        <activity android:name=".CharsetsActivity" />
        <activity android:name=".CharsetActivity" />
        <activity android:name=".DeviceActivity" />
        <activity android:name=".EnvironmentVariablesActivity" />
        <activity android:name=".FileSystemsActivity" />
        <activity android:name=".FileSystemActivity" />
        <activity android:name=".FileViewerActivity" />
        <activity android:name=".LocalesActivity" />
        <activity android:name=".LocaleCountriesActivity" />
        <activity android:name=".LocaleActivity" />
        <activity android:name=".SystemPropertiesActivity" />
        <activity android:name=".TimeZonesActivity" />
        <activity android:name=".TimeZoneActivity" />
    </application>
</manifest> 
